body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
    --fondo-nav: rgb(241, 247, 253, 0.4);
    --fondo-opciones: rgba(75, 122, 168, 0.6);
    --color-titulo: rgba(12, 43, 75);
    --fondo-subsection: rgba(4, 69, 134, 0.7);
    --color-subtitulo: rgb(255, 255, 255);
}


/*Agregar este a media query de desktop, en celular se ve muy grande*/

.menuelement {
    font-size: 2em;
}

.presentacion,
.subtitulo,
.textos,
.cardtitle a,
.cardtext,
.cardfooter,
.rowContactMember {
    font-family: 'DotGothic16', sans-serif;
}

.presentacion {
    margin-left: 2%;
    margin-right: 2%;
}

.yomero {
    font-size: 400%;
    font-weight: bolder;
    color: var(--color-titulo);
}

.queChingaosHago {
    font-size: 250%;
    color: var(--color-titulo);
}

.redes {
    margin-top: 10%;
    padding: 1em;
    background-color: var(--fondo-subsection);
    border-radius: 1em;
    color: var(--color-subtitulo);
}

.subtitulo {
    font-size: 300%;
    font-weight: bolder;
}

.cardtitle a {
    font-size: 150%;
    font-weight: bolder;
}

.cardtext {
    font-weight: bold;
}

.rowContactMember {
    text-align: center;
}

.rowContactMember a {
    color: white;
    text-decoration: none;
    font-size: 2em;
}

.servResume {
    margin-top: 10%;
    padding: 1em;
    border-radius: 1em;
    color: var(--color-titulo);
}


/*Todo: 
        Aumentar el tamnio de letra de los elementos del menu agregar mi logo, se agrega el tamanio de letra pero es mejor para la version de escritorio
        Media query para landing page en desktop, y de las demás acciones
        Crear Sección Jomati, ejemplo de e-commerce
        Crear Sección Restaurtantes, hacer referencia a La era como ejemplo
        Crear sección Clientes fisicos
        Crear sección educación 
        Crear un site map
        Terminar Carrera desktop y movil
        Terminar parte de experiencia en desktop
        Listo dar estilo de letra a Clientes, mejorar apriencia de Links
        Listo dar estilo Contacto con fontawesome, agregar iconos bonitos
        Listo dar estilo a experiencia agregar el tipo de letra y mejorar la apariencia hacerla m[as atractiva
            en esta pagina agregar resum corto con link a una pagina con informaci[on m[as amplia, presentar mi carrera en la universidad y
            adem[as en mi vida profesional */