:root {
    --fondo-nav: rgb(241, 247, 253, 0.4);
    --fondo-opciones: rgba(75, 122, 168, 0.6);
    --color-titulo: rgba(12, 43, 75);
    --fondo-subsection: rgba(4, 69, 134, 0.7);
    --color-subtitulo: rgb(255, 255, 255);
    --color-hover-jomati: rgba(77, 255, 246, 0.877);
    --jomati-font: 'Pattaya', sans-serif;
    --jomati-color: #f46c9d;
}

body {
    margin: 0;
    font-family: -apple-system, 'BlinkMacSystemFont', 'Open Sans Condensed', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--color-titulo);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.jomatiBody {
    background-color: var(--jomati-color);
    height: 95%;
    width: 100%;
}

.jomati,
.linkJomati,
.piezas-titulo,
.contacto-jomati,
.descripcion-producto,
.subtitulo-jomati,
.conoce-jomati,
.nosotros-titulo-h4,
.nosotros-descripcion {
    color: whitesmoke;
    font-family: var(--jomati-font);
}

.jomati {
    font-size: 7em;
    margin-right: 1rem;
}

.linkJomati {
    font-size: 3em;
    color: #f46c9d;
}

.linkJomati:hover {
    color: var(--color-hover-jomati);
}

.subtitulo-jomati {
    font-size: 2.5em;
    float: right;
    margin-top: 2em;
}

.typewriter h2 {
    overflow: hidden;
    border-right: .15em solid var(--color-hover-jomati);
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 3s steps(30, end), blink-caret .5s step-end infinite;
}

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    10% {
        border-color: var(--color-hover-jomati)
    }
}

.product-card:hover {
    background-color: var(--color-hover-jomati);
}

.jomatiMenu,
.flex-column {
    visibility: hidden;
}

.main-product-description {
    margin-top: -15rem;
}

.piezas-titulo,
.contacto-jomati,
.nosotros-titulo-h4 {
    font-size: 2em;
    text-align: center;
    margin-top: 2em;
}

.piezas-imagen {
    width: 20rem;
    margin-left: 0.1rem;
}

.descripcion-producto {
    font-size: 1.5em;
}

.descripcion-producto:hover {
    color: var(--jomati-color);
}

.contacto-jomati,
.conoce-jomati {
    background-color: var(--color-hover-jomati);
    color: var(--jomati-color);
}

.contacto-jomati {
    font-size: 1.5em;
    border: none;
}

.nosotros-jomati-div {
    background-color: var(--color-hover-jomati);
    margin-top: 2rem;
    padding-bottom: 2em;
}

.nosotros-titulo-h4,
.nosotros-descripcion {
    color: var(--jomati-color);
}

.nosotros-descripcion {
    background-color: white;
}

.nosotros-imagen {
    width: 100%;
    margin-top: -1rem;
}

.presentacion,
.subtitulo,
.textos,
.cardtitle a,
.cardtext,
.cardfooter,
.rowContactMember,
.carrera,
.subtitulo-clientes,
.menuelement {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: lighter;
}

.ultimosClientes {
    background-color: var(--color-titulo);
}

.subtitulo-clientes {
    color: whitesmoke;
    text-align: center;
    font-weight: lighter;
    font-size: 3.5em;
    padding-top: 1em;
}

.presentacion {
    background-color: var(--color-titulo);
}

.yomero {
    font-size: 350%;
    font-weight: bolder;
    color: whitesmoke;
}

.queChingaosHago {
    font-size: 250%;
    color: whitesmoke;
}

.reder-all {
    margin-bottom: 1em;
}

.redes {
    margin-top: 0em;
    padding: 1em;
    background-color: var(--fondo-subsection);
    border-radius: 1em;
    color: var(--color-subtitulo);
}

.subtitulo {
    font-size: 300%;
    font-weight: bolder;
}

.cardtitle p,
.cardtitle a {
    font-size: 150%;
    font-weight: bolder;
}

.cardtext {
    font-weight: bold;
}

.rowContactMember {
    text-align: center;
}

.rowContactMember a {
    color: white;
    text-decoration: none;
    font-size: 2em;
}

.servResume {
    margin-top: 10%;
    padding: 1em;
    border-radius: 1em;
    color: var(--color-titulo);
}

.clientCard,
.myface {
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.5);
    transition: 0.3s;
    width: 40%;
}

.clientCard:hover,
.myface:hover {
    box-shadow: 8px 0 16px 0 rgb(0, 0, 0, 0.2);
}

.myface {
    width: 15rem;
    margin-top: 2em;
    margin-left: 2rem;
}

.presentacion-mi-cara {
    transition: all .2s ease-in-out;
}

.presentacion-mi-cara:hover {
    transform: scale(1.1);
    overflow: hidden;
}

.main-navbar {
    background-color: rgb(34, 143, 233);
    color: rgb(26, 90, 209);
}

.menuelement {
    font-size: 2.5em;
    color: whitesmoke;
    font-weight: bold;
    margin-right: 1em;
}

.menuelement:hover {
    color: var(--jomati-color);
}

.presentacion-link-carrera {
    color: var(--color-titulo);
}

@media screen and (min-width: 1000px) {
    body {
        background-color: var(--color-titulo);
    }
    .myself {
        margin-top: 5rem;
    }
    .yomero {
        font-size: 8em;
    }
    .myface {
        width: 22em;
        margin-bottom: 5em;
    }
    .butonContacto {
        border: none;
        color: var(--color-titulo);
        background-color: whitesmoke;
        border-style: none;
        font-size: 2em;
        font-weight: bolder;
    }
    .clientedesktop {
        margin-top: 7rem;
        margin-right: 5rem;
    }
    .mycontact {
        margin-bottom: 5em;
        padding-bottom: 2em;
    }
    .jomati {
        margin-left: 5vw;
    }
    .subtitulo-jomati {
        margin-right: 5vw;
    }
    .subtitulo-clientes {
        font-size: 7em;
    }
    .jomatiMenu {
        width: 100%;
        background-color: white;
        margin-top: 0.5rem;
        visibility: visible;
        color: white;
    }
    .queHacemos {
        font-size: 4em;
        text-align: center;
        margin-top: 2em;
    }
    .main-product-description {
        margin-top: 2em;
    }
    .contacto-jomati {
        margin-bottom: 2em;
    }
    .product-card {
        padding-bottom: 2em;
    }
    .nosotros-jomati-div {
        width: 90vw;
        margin-left: 5vw;
    }
    .nosotros-titulo-h4 {
        font-size: 4em;
    }
    .nosotros-descripcion {
        font-size: 2.5em;
        margin-left: 10vw;
        margin-right: 10vw;
    }
    .nosotros-imagen {
        width: 70vw;
        margin-left: 10vw;
    }
    .cards-clientes {
        margin: 10%
    }
    .cardsCarrera {
        margin-left: 10%;
    }
}


/*Todo: 
        Aumentar el tamnio de letra de los elementos del menu agregar mi logo, se agrega el tamanio de letra pero es mejor para la version de escritorio
        Listo Media query para landing page en desktop, y de las demás acciones 
        Listo Dar estilo al boton de acción de y crear una pagina de contacto , se encuentra un tutorial https://dev.to/michaelburrows/setup-a-contact-form-in-react-that-sends-email-using-node-js-50pi
        Listo Crear Sección Jomati, ejemplo de e-commerce
        No hace falta Crear sección educación 
        Crear un site map
        Listo Terminar Carrera desktop y movil
        Lsito se concentra Todo en Carrera Terminar parte de experiencia en desktop
        Listo dar estilo de letra a Clientes, mejorar apriencia de Links
        Listo dar estilo Contacto con fontawesome, agregar iconos bonitos
        Listo dar estilo a experiencia agregar el tipo de letra y mejorar la apariencia hacerla m[as atractiva
            en esta pagina agregar resum corto con link a una pagina con informaci[on m[as amplia, presentar mi carrera en la universidad y
            adem[as en mi vida profesional 
            
        Crear Sección Restaurtantes, hacer referencia a La era como ejemplo
        Crear sección Clientes fisicos
        Agregar fondo dínamico a la pagina
        Crear pagina de José Salia, ya está diseñada en Figma sólo falta pasarla a React
        Contacto convertilo en funtion, crear una mejor pagina de contacto con Contact form*/